html,
body {
  min-width: 100%;
  overflow-x: hidden;
}

.myRow2 {
  min-width: 100%;
  overflow-x: hidden;
  padding-bottom: 10vh;
}
.user-box2 p {
  color: white;
}
.user-box2 h4 {
  color: #03e9f4;
}
.user-box2 {
  display: inline;
}
.productDiv2 {
  overflow-x: hidden;
}
.login-box2 {
  width: 60%;
  padding: 40px;
  margin: auto;
  margin-top: 10vh;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background: linear-gradient(#243b55, #141e30);
  opacity: 0.85;
}
.cardProductImg2 {
  max-height: 400px;
  width: auto;
  margin-bottom: 2vh;
}

.login-box2 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
.login-box2 h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .login-box2 {
    margin-top: 5vh;
    width: 80%;
  }
  /* .cardProductImg2 {
    height: auto;
    width: 100%;
  } */
}
.titleCard {
  color: white;
}
.subTitleCard h4 {
  color: #03e9f4;
}
.subTitleCard p {
  color: white;
}
@media screen and (max-width: 1000px) {
  .bigScreen {
    display: none;
  }
  .cardProductImg2 {
    width: 260px;
  }
}
@media screen and (min-width: 1000px) {
  .smallScreen {
    display: none;
  }
}
#promotion {
  text-decoration: line-through;
}
#saleLogoProductCardComponent {
  width: 100px;
}
/* .imgCarousel{
  height: 500px; 
  margin: auto;
  object-fit: cover;
 
} */

.carousel-item img {
  max-width: 240px;
  max-height: 445px;
  margin: auto;
  display: block;
  object-fit: cover;
}
