html {
    height: 100%;
  }
  
  .login-box-editProfil {
    margin: auto;
    margin-top: 10vh;
    width: 60%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background: linear-gradient(#243b55, #141e30);
    opacity: 0.9;
  }
  
  /* .login-box-editProfil h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  } */
  
  .login-box-editProfil .user-box {
    position: relative;
  }
  
  .login-box-editProfil .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box-editProfil.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }