body{
    height: 100%;
}
.box{
    opacity: 0.75;
}
.box:hover{
opacity: 0.95;
}

.testContainer{
    padding-top: 10vh;

}
.testCol{
    padding-bottom: 10vh;

}
.testImg{
height: 200px;
object-fit: contain;
}

