.basketCard2{
    background: linear-gradient( #141e30, #243b55,);
    margin: 10% 20% 10% 20%;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background: linear-gradient(#243b55, #141e30);
}
.basketCard2:hover{
    opacity: 1;
}
.basketImg2{
    margin: auto;
    /* height: 180px; */
    max-width: 120px;
    width: auto;
}
.textCard2{
    color: white;
}
.trashBasket2{
    height: 20px;
}
.trashBasket2Big{
    height: 30px;
}
Form Button{
    margin-top: 20px;
    margin-right: 20px;
}
.productNameTitle{
    color: #03e9f4;
}