
html {
  height: 100%;
}
#myCard {
  margin-top: 10vh;
  opacity: 0.8;
  flex-wrap: wrap;
}
#myRow {
  display: "flex";
  height: 100%;
  background: linear-gradient(#141e30, #243b55);
}
.cardProductImg {
  max-height: 400px;
}
